
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%
}

.footer{
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  margin-top: 10pc;
  padding: 10pt; 
  text-align: center;
}
